.news-wrapper {
  padding-top: 70px;
  .img-banner {
    max-width: 1912px;
    min-height: 515px;
    background: url('../../assets//Icon/perspectives_rebrand_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .content-banner {
    .popular-news {
      width: 100%;

      h3 {
        margin-bottom: 20px;
      }
      padding: 20px;
      margin: auto;
      width: 65%;
      .news-popular {
        width: 100%;
        height: 360px;
        margin-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
      }
    }
    .hot-news {
      background-color: rgb(240, 240, 240);
      padding-bottom: 20px;
      h3 {
        padding: 20px;
        width: 65%;
        margin: auto;
      }
      .news-hot {
        width: 65%;
        padding: 20px;
        margin: auto;
        height: 330px;
        margin-bottom: 20px;

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
      }
    }
    .main-news {
      width: 50%;
      padding: 0 20px;
      margin: auto;
      // margin-bottom: 20px;
      padding-bottom: 40px;
      .main-news-button {
        padding: 20px 0;
      }
      .news-box {
        // margin-bottom: 40px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
      }
    }
  }
}
.card + .card {
  margin-bottom: 10px;
}
