/*-----------Background--------------*/
.bgc-white {
  background-color: var(--white);
}
.bgc-gray {
  background-color: var(--gray);
}
.bgc-black {
  background-color: var(--black);
}
.bgc-blue {
  background-color: var(--primary-blue);
}
.bgc-red {
  background-color: red;
}
.bgc-blue_2 {
  background-color: var(--primary-blue_2);
}
.bgc-blue_3 {
  background-color: var(--primary-blue_3);
}
.bgc-purple_light {
  background-color: var(-primary-purple_light);
}
.bgc-purple_dark {
  background-color: var(-primary-purple_dark);
}
/*--------Color-----------*/
.cl-white {
  color: var(--white);
}
.cl-black {
  color: var(--black);
}
.cl-blue {
  color: var(--primary-blue);
}
.cl-blue_2 {
  color: var(--primary-blue_2);
}
.cl-blue_3 {
  color: var(--primary-blue_3);
}
.fill-white {
  fill: var(--white);
}
.fill-red {
  fill: red;
}
.fill-black {
  fill: var(--black);
}
.fill-gray {
  fill: var(--gray);
}
.fill-blue {
  fill: var(--primary-blue);
}
.fill-blue_2 {
  fill: var(--primary-blue_2);
}
.fill-blue_3 {
  fill: var(--primary-blue_3);
}
