.detailFilm-wrapper {
  padding-top: 50px;
  color: var(--black);
  background-color: black;
  padding-bottom: 30px;
}
.screen-watching {
  max-width: 1912px;
  display: flex;
  justify-content: center;
  padding: 78px 0;
}
.film-info {
  width: 70%;
  margin: 0 auto;
  padding: 40px 40px 0px 40px;
  .film-img {
    width: 180px;
    height: 260px;
    border-radius: 5px;
  }
}
.film-cmt {
  height: 50vh;
}
.film-box-1 {
  width: 100% !important;
  display: flex;
  // align-items: flex-end;
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;

  .film-info-des {
    width: 100%;
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    color: var(--black);
    table {
      width: 95%;
      tr,
      td {
        height: 50px;
      }
      tr + tr {
        border-top: 1px solid;
      }
      .col-md-4 {
        font-weight: 600;
        button {
          margin: 10px 0;
        }
      }
    }
    .film-des-item {
      width: 250px;
      display: flex;
      align-items: center;
      height: 50px;
      span {
        margin-left: 5px;
      }
    }
  }
}
.film-box-2 {
  padding: 35px 50px;
  margin: 20px 0;
  border-radius: 5px;
  background-color: #f5f5f5;
  .film-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}
#container {
  padding-top: 5px;
  video {
    width: 100%;
    height: 100%;
    max-height: 800px;
  }
}
.film-cmt {
  width: 50%;
  height: 100%;
  margin: 0 auto 0 auto;
  padding: 20px 40px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  background-color: #f5f5f5;
  .write-cmt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px var(--gray) solid;
    textarea {
      min-width: 90%;
      max-width: 90%;
      max-height: 100px;
      min-height: 100px;
      border: none;
      margin-right: 15px;
      padding: 15px;
      background-color: var(--light-gray) !important;

      resize: none;
    }
    textarea:focus-visible {
      outline: none;
    }
  }
}
.cmt-films-box {
  width: 100%;
  padding: 15px 50px;
  .user-cmt {
    margin-top: 15px;
    .cmt-header {
      display: flex;
      .cmt-avt {
        img {
          width: 50px;
          height: 50px;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
        }
      }
      .cmt-info {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        .cmt-time {
          font-size: 13px;
        }
      }
    }
    .cmt-content {
      margin-top: 10px;
    }
    .cmt-footer {
      display: flex;
    }
  }
  .cmt-rep {
    padding-left: 25px;
    margin-left: 30px;
    border-left: 1px var(--gray) solid;
  }
}
