.detailmanga-wrapper {
  padding-top: 60px;
  background-color: var(--black);
  padding-bottom: 50px;
}
.screen-reading {
  margin: 0 auto;
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 93vh;
  overflow: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  .img-manga_item {
    width: 100%;
    height: 92vh;
    scroll-snap-align: start;
    img {
      width: 100%;
    }
  }
}
.manga-info {
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  display: flex;

  .manga-img {
    width: 250px;
    border-radius: 5px;
    margin-right: 40px;
  }
}
.manga-info-detail {
  width: 60%;
  margin: 0 auto;
  padding: 40px;
  h1 {
    color: white;
  }
}
.manga-box-1 {
  display: flex;
  align-items: center;
  // margin-top: 5px;
  img {
    margin-top: 15px;
  }
}
.manga-box-2 {
  // margin: 20px 0;
  display: flex;
  flex-direction: column;
  .manga-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    margin-left: 15px;
    color: var(--white);
  }
  .manga-info-des {
    width: 50%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    .manga-des-item {
      display: flex;
      align-items: center;
      height: 50px;
    }
  }
}
.manga-chapter {
  display: grid;
  grid-template-columns: repeat(50, 1fr);
  grid-gap: 5px;
}
#container {
  padding-top: 5px;
  video {
    width: 100%;
    height: 100%;
    max-height: 800px;
  }
}
.manga-cmt {
  width: 50%;
  height: 100%;
  margin: 0 auto 0px auto;
  padding: 20px 40px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  .write-cmt-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px var(--gray) solid;
    textarea {
      min-width: 90%;
      max-width: 90%;
      max-height: 100px;
      min-height: 100px;
      border: none;
      margin-right: 15px;
      padding: 15px;
      background-color: var(--white) !important;
      resize: none;
    }
    textarea:focus-visible {
      outline: none;
    }
  }
}
.mangas-cmt-box {
  width: 100%;
  padding: 15px 0;
  .user-cmt {
    margin-top: 15px;
    .cmt-header {
      display: flex;
      .cmt-avt {
        img {
          width: 50px;
          height: 50px;
          background-repeat: no-repeat;
          background-size: cover;
          border-radius: 50%;
        }
      }
      .cmt-info {
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        .cmt-time {
          font-size: 13px;
        }
      }
    }
    .cmt-content {
      margin-top: 10px;
    }
    .cmt-footer {
      display: flex;
    }
  }
  .cmt-rep {
    padding-left: 25px;
    margin-left: 28px;
    border-left: 1px var(--gray) solid;
  }
}
.mangas-cmt-box {
  padding: 15px 50px;
}
.manga-chapter {
  width: 70%;
  padding: 0px 40px 40px 40px;
  margin: 10px auto;
  button {
    width: 40px;
    height: 40px;
    color: var(--white);
    background-color: var(--primary-blue);
    border: none;
    border-radius: 5px;
  }
  button + button {
    margin-left: 5px;
  }
}
.button-change-chapter {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 450px;
  padding: 30px;
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
    svg {
      width: 15px;
      margin: 0 10px;
    }
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}
.film-info-des {
  width: 100%;
  margin-left: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  color: var(--black);
  background-color: var(--white);
  border-radius: 5px;
  table {
    width: 100%;
    tr,
    td {
      height: 50px;
    }
    tr + tr {
      border-top: 1px solid;
    }
    .col-md-4 {
      font-weight: 600;
      button {
        margin: 10px 0;
      }
    }
  }
  .film-des-item {
    width: 250px;
    display: flex;
    align-items: center;
    height: 50px;
    span {
      margin-left: 5px;
    }
  }
}
.manga-description {
  width: 100%;
  color: var(--black);
  background-color: var(--white);
  margin-left: 15px;
  margin-top: 15px;
  padding: 20px 15px;
  border-radius: 5px;
}
