.storyDetail-wrapper {
  position: relative;
  display: flex;
  top: 20px;
  height: 101vh;
  padding: 30px;
  .boxDetail-left {
    width: 70%;
    max-height: 100%;
    .image {
      position: relative;
      margin: auto 30px 0px auto;
      height: 100%;
      .slide {
        min-height: 750px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          max-width: 100%;
          background-repeat: no-repeat;
          background-size: cover;
        }
      }
    }
  }
  .boxDetail-right {
    border: 1px solid var(--gray);
    border-radius: 5px;
    width: 30%;
    padding: 30px;
    height: 100%;
    .auth {
      display: flex;
      justify-content: space-between;
      .auth-left {
        display: flex;
        align-items: center;
      }
      .auth_avt {
        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          margin-right: 10px;
        }
      }
    }
    .content-story {
      height: 10%;
      margin: 10px;
      // width: 100%;
    }
  }
}
.news-footer {
  padding: 20px;
  .news-footer-top {
    border-bottom: 1px var(--gray) solid;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;
    .news-like {
      font-size: 14px;
      display: flex;
      align-items: center;
      .couter-like {
        width: 20px;
        margin-right: 10px;
      }
    }
    .news-cmt {
      font-size: 14px;
      display: flex;
      svg {
        width: 20px;
        margin-right: 10px;
      }
    }
  }
  .news-footer-body {
    height: 60px;
    padding: 10px 0;
    border-bottom: 1px var(--gray) solid;

    display: flex;
    justify-content: center;
    .like-news {
      width: 50%;
      span {
        font-weight: 600;
        font-size: 16px;
      }
    }
    .btn + .btn {
      margin-left: 10px;
    }
  }
  .news-footer-bottom {
    min-height: 200px;
    max-height: 500px;
    overflow: scroll;
    overflow-x: hidden;
    // display: flex;
    flex-direction: column;
    .news-write-cmt {
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: 1px var(--gray) solid;
      textarea {
        min-width: 90%;
        max-width: 90%;
        max-height: 50px;
        min-height: 50px;
        border: none;
        margin-right: 15px;
        padding: 15px;

        resize: none;
      }
      textarea:focus-visible {
        outline: none;
      }
    }
  }
}

.news-cmt-box {
  padding: 0 40px;
  // max-height: 40%;
  overflow: auto;
  overflow-y: scroll;
  // overflow-x: hidden;
}
.cmt-rep {
  padding-left: 25px;
  margin-left: 28px;
  border-left: 1px var(--gray) solid;
}
.news-write-cmt {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px var(--gray) solid;
  textarea {
    min-width: 90%;
    max-width: 90%;
    max-height: 50px;
    min-height: 50px;
    border: none;
    margin-right: 15px;
    padding: 15px;
    background-color: white !important;
    resize: none !important;
    overflow-y: hidden;
  }
  textarea:focus-visible {
    outline: none;
  }
}
.btn-close {
  opacity: 0.5;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--dark-gray);
  display: flex;
  justify-content: center;
  align-items: center;
}
.notifi-login-cmt {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notifi-login-cmt {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .news-cmt-box {
    padding: 0 40px;
    max-height: 53%;
    overflow: auto;
    overflow-y: scroll;
    // overflow-x: hidden;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .news-cmt-box {
    padding: 0 40px;
    max-height: 53%;
    overflow: auto;
    overflow-y: scroll;
    // overflow-x: hidden;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1100px) {
  .news-cmt-box {
    padding: 0 40px;
    max-height: 53%;
    overflow: auto;
    overflow-y: scroll;
    // overflow-x: hidden;
  }
}
@media only screen and (min-width: 1500px) {
  .news-cmt-box {
    padding: 0 40px;
    max-height: 60%;
    overflow: auto;
    overflow-y: scroll;
    // overflow-x: hidden;
  }
}
.btn-flloww {
  padding: 10px 5px;
}
.followU-story {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 15px;
  border: 1px solid var(--primary-blue_3);
  border-radius: 5px;
  color: var(--primary-blue_3);
  cursor: pointer;
  svg {
    width: 25px;
    margin-right: 5px;
    fill: var(--primary-blue_3);
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--primary-blue_3);
    color: var(--white);
    svg {
      fill: var(--white);
    }
  }
}
.followed-story {
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #78cb5b;
    color: var(--white);
    svg {
      fill: var(--white);
    }
  }
}
