.toastify-box {
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: var(--white);
  font-size: 19px;
  font-weight: 600;
  z-index: 999;
  .toastify-content {
    svg {
      width: 35px;
      fill: var(--white);
      margin-right: 10px;
    }
  }
}
.toastSuccess {
  background-color: #00e68a;
}
.toastWarnning {
  background-color: #ff3333;
}
