.card-news-x {
  width: 100%;
  max-height: 170px;
  border-radius: 5px;
  display: flex;
  .card-img-news {
    height: 100%;
    display: flex;
    // align-items: center;
    background-image: url(/static/img/perspectives_rebrand_banner.e687888e.png);
    object-fit: contain;
    border-radius: 5px;
    img {
      height: 170px;
      min-width: 300px;
      max-width: 300px;
    }
  }
}
.card-news-z {
  width: 100%;
  max-height: 170px;
  border-radius: 5px;
  display: flex;
  .card-img-news {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/static/img/perspectives_rebrand_banner.e687888e.png);
    object-fit: contain;
    border-radius: 5px;
    height: 100%;
    object-fit: contain;
    img {
      height: 170px;
      min-width: 303px;
      max-width: 303px;
    }
  }
  .card-body-news {
    width: 65%;
  }
  .body-content__views {
    display: flex !important;
  }
}
.card-news-y {
  min-width: 300px;
  max-width: 300px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .card-img-news {
    width: 300px;
    height: 100%;
    display: flex;
    background-image: url(/static/img/perspectives_rebrand_banner.e687888e.png);
    object-fit: contain;
    border-radius: 5px;
    img {
      height: 170px;
      min-width: 300px;
      max-width: 300px;
    }
  }
  .card-body-news {
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .body-title__des {
      display: none !important;
    }
    .body-title__name {
      max-height: 90px;
      min-height: 90px;
      font-size: 20px;
    }
  }
}

.card-img-news {
  min-width: 35%;
  margin-right: 10px;
  img {
    border-radius: 5px;
    max-height: 170px;
  }
}
.card-body-news {
  // min-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .card-body__category {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    .body__category {
      font-size: 14px;
    }
    .body__tym {
      cursor: pointer;
      z-index: 3;
      svg {
        width: 25px;
      }
    }
  }
  .card-body__title {
    .body-title__name {
      height: 48px;
      font-weight: 600;
      margin-bottom: 5px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 2;
      line-height: 1.5rem;
    }
    .body-title__des {
      width: 100%;
      font-size: 12px;
      display: -webkit-box;
      max-height: 3.2rem;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
      -webkit-line-clamp: 2;
      line-height: 0.9rem;
    }
  }
  .card-body__content {
    display: flex;
    justify-content: space-between;
    .body-content__imgAuth {
      display: flex;
      align-items: center;
      img {
        max-width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
    .body-content__views {
      font-size: 14px;
      display: none;
      justify-content: center;
      align-items: center;
      svg {
        margin-left: 10px;
        width: 18px;
        // margin-right: 5px;
      }
      .vote-icon {
        cursor: pointer;
        margin-right: 10px;
      }
      img {
        margin-right: 5px;
        background-image: var(--gray);
      }
    }
  }
}
.f20 {
  font-size: 20px;
}
.card + .card {
  margin-bottom: 10px;
}
.triangle-up {
  img {
    fill: green;
  }
}
.triangle-down {
  color: red;
}
