.card-news-x {
  max-height: 170px;
  border-radius: 5px;
  display: flex;
  .card-img-news {
    img {
      min-width: 300px;
    }
  }
}
.card-news-z {
  max-height: 170px;
  border-radius: 5px;
  display: flex;
  .card-img-news {
    img {
      min-width: 303px;
      max-width: 303px;
    }
  }
  .body-content__views {
    display: flex !important;
  }
}
.card-news-y {
  min-width: 297px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  .card-img-news {
    margin: 0;
    img {
      min-width: 287px;
    }
  }
  .card-body-news {
    min-height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .body-title__des {
      display: none;
    }
    .body-title__name {
      font-size: 20px;
    }
  }
}

.card-img-news {
  margin-right: 10px;
  img {
    border-radius: 5px;
    max-height: 170px;
  }
}
.card-body-news {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .card-body__category {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    .body__category {
      font-size: 14px;
    }
    .body__tym {
      cursor: pointer;
      z-index: 3;
      svg {
        width: 25px;
      }
    }
  }
  .card-body__title {
    .body-title__name {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .body-title__des {
      font-size: 12px;
    }
  }
  .card-body__content {
    display: flex;
    justify-content: space-between;
    .body-content__imgAuth {
      display: flex;
      align-items: center;
      img {
        max-width: 35px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
    .body-content__views {
      font-size: 14px;
      display: none;
      justify-content: center;
      align-items: center;
      svg {
        margin-left: 10px;
        width: 18px;
        margin-right: 5px;
      }
    }
  }
}
.f20 {
  font-size: 20px;
}
.card + .card {
  margin-bottom: 10px;
}
.triangle-up {
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 12.5px 21.7px 12.5px;
  border-color: transparent transparent green transparent !important;
}
.triangle-down {
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 21.7px 12.5px 0 12.5px;
  border-color: red transparent transparent transparent;
}
