.wrapper-reading {
  min-height: 76vh;
  padding-top: 70px;
}
/*-------------------------------*/
.listManga-wrapper {
  width: 76.8%;
  padding: 20px 20px;
  margin: 0 auto;
}
.list-new-box {
  display: block;
  width: 100%;
  padding: 0 20px;
  h3 {
    margin: 15px 0;
    text-align: left;
  }
}
.list-new-box + .list-new-box {
  margin-top: 40px;
}
.list-new {
  padding-top: 10px;
  width: 100%;
  height: 270px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // overflow-x: scroll;
  .list-new-item {
    padding: 10px 9px;
  }
}
.list-all-box {
  width: 100%;
  padding: 0 20px;
  h3 {
    margin: 20px 0;
    text-align: left;
  }
  .list-all {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    .card + .card {
      margin: 0;
    }
  }
}
.paganition-box {
  width: 100%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}
.search-box {
  width: 30%;
  margin: 40px auto 0px auto;
  padding: 0px 0px 0px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--gray);
  border-radius: 50px;
  input {
    width: 90%;
    height: 50px;
    margin-right: 20px;
    border: none;
  }
  input:focus-visible {
    outline: 0px solid crimson;
    border-radius: 3px;
  }
  button {
    width: 150px;
    height: 50px;
    border: none;
    padding: 5px 0;
    background-color: var(--primary-blue_3);
    border-radius: 50px;
    svg {
      width: 25px;
      fill: var(--white);
    }
  }
}
/*--------------------------------*/
::-webkit-scrollbar {
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue_2);
}
