.brd {
  width: 200px;
  height: 40px !important;
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #2d3667;
  font-size: 16px;
  text-align: center;
  padding: 14px;
  background-color: #f3f9f9;
}

#app-cover {
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  width: 200px;
  z-index: 1;
}

#select-button {
  position: relative;
  height: 16px;
  padding: 12px 14px;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

#options-view-button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

#selected-value {
  font-size: 16px;
  line-height: 1;
  margin-right: 26px;
}

.option i {
  width: 16px;
  height: 16px;
}

.option,
.label {
  color: #2d3667;
  font-size: 16px;
}

#chevrons {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 12px;
  padding: 9px 25px;
}

#chevrons i {
  display: block;
  height: 50%;
  color: #d1dede;
  font-size: 12px;
  text-align: right;
}

#options-view-button:checked + #select-button #chevrons i {
  color: var(--black);
}

.options {
  position: absolute;
  left: 0;
  width: 250px;
}

#options {
  position: absolute;
  top: 42px;
  right: 0;
  left: 0;
  width: 200px;
  max-height: 282px;
  background-color: #fff;
  border-radius: 4px;
  overflow: scroll;
  overflow-x: hidden;
  // overflow-y: hidden;
}

#options-view-button:checked ~ #options {
  border: 1px solid #e2eded;
  border-color: #eaf1f1 #e4eded #dbe7e7 #e4eded;
}

.option {
  position: relative;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
}

.option i {
  position: absolute;
  left: 14px;
  padding: 0;
  // display: none;
}

#options-view-button:checked ~ #options .option i {
  display: block;
  padding: 12px 0;
}

.label {
  display: none;
  padding: 0;
  // margin-left: 27px;
}

#options-view-button:checked ~ #options .label {
  display: block;
  padding: 12px 14px;
}

.s-c {
  position: absolute;
  left: 0;
  width: 100%;
  height: 50%;
}

.s-c.top {
  top: 0;
}

.s-c.bottom {
  bottom: 0;
}

input[type='radio'] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 50%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.s-c:hover ~ i {
  color: #fff;
  opacity: 0;
}

.s-c:hover {
  height: 100%;
  z-index: 1;
}

.s-c.bottom:hover + i {
  bottom: -25px;
  animation: moveup 0.3s ease 0.1s forwards;
}

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.label {
  transition: 0.3s ease all;
}

.opt-val {
  position: absolute;
  left: 14px;
  width: 150px;
  height: 21px;
  opacity: 0;
  background-color: #fff;
  transform: scale(0);
}

.option input[type='radio']:checked ~ .opt-val {
  opacity: 1;
  transform: scale(1);
}

.option input[type='radio']:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type='radio']:checked ~ i,
.option input[type='radio']:checked ~ .label {
  color: #fff;
}

.option input[type='radio']:checked ~ .label:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#options-view-button:not(:checked) ~ #options .option input[type='radio']:checked ~ .opt-val {
  top: -30px;
}

.option input[type='radio']:checked ~ .label:before {
  background-color: var(--primary-blue);
  border-radius: 4px;
}
.option:nth-child(1) input[type='radio']:checked ~ .opt-val {
  top: -31px;
}

.option:nth-child(2) input[type='radio']:checked ~ .opt-val {
  top: -71px;
}

.option:nth-child(3) input[type='radio']:checked ~ .opt-val {
  top: -111px;
}

.option:nth-child(4) input[type='radio']:checked ~ .opt-val {
  top: -151px;
}

.option:nth-child(5) input[type='radio']:checked ~ .opt-val {
  top: -191px;
}

.option:nth-child(6) input[type='radio']:checked ~ .opt-val {
  top: -231px;
}

.option:nth-child(7) input[type='radio']:checked ~ .opt-val {
  top: -271px;
}

.option:nth-child(8) input[type='radio']:checked ~ .opt-val {
  top: -311px;
}

.option:nth-child(9) input[type='radio']:checked ~ .opt-val {
  top: -351px;
}

.option:nth-child(10) input[type='radio']:checked ~ .opt-val {
  top: -391px;
}

.option:nth-child(11) input[type='radio']:checked ~ .opt-val {
  top: -431px;
}

.option:nth-child(12) input[type='radio']:checked ~ .opt-val {
  top: -471px;
}

.option:nth-child(13) input[type='radio']:checked ~ .opt-val {
  top: -511px;
}

.option:nth-child(14) input[type='radio']:checked ~ .opt-val {
  top: -551px;
}

.option .fa-codepen {
  color: #000;
}

.option .fa-dribbble {
  color: #ea4c89;
}

.option .fa-behance {
  color: #0057ff;
}

.option .fa-hackerrank {
  color: #32c766;
}

.option .fa-stack-overflow {
  color: #f48024;
}

.option .fa-free-code-camp {
  color: #006400;
}

#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

.option:hover .label {
  color: #fff;
}

.option:hover ~ #option-bg {
  border-radius: 4px;
}
.option:nth-child(1):hover ~ #option-bg {
  top: 0;
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
}

.option:nth-child(4):hover ~ #option-bg {
  top: 120px;
}

.option:nth-child(5):hover ~ #option-bg {
  top: 160px;
}

.option:nth-child(6):hover ~ #option-bg {
  top: 200px;

  // border-radius: 0 0 4px 4px;
}
.option:nth-child(7):hover ~ #option-bg {
  top: 240px;

  // border-radius: 0 0 4px 4px;
}
.option:nth-child(8):hover ~ #option-bg {
  top: 280px;

  // border-radius: 0 0 4px 4px;
}
.option:nth-child(9):hover ~ #option-bg {
  top: 320px;

  // border-radius: 0 0 4px 4px;
}
.option:nth-child(10):hover ~ #option-bg {
  top: 360px;

  // border-radius: 0 0 4px 4px;
}
.option:nth-child(11):hover ~ #option-bg {
  top: 400px;

  // border-radius: 0 0 4px 4px;
}
.option:nth-child(12):hover ~ #option-bg {
  top: 440px;

  // border-radius: 0 0 4px 4px;
}
.option:nth-child(13):hover ~ #option-bg {
  top: 480px;

  // border-radius: 0 0 4px 4px;
}
.option:nth-child(14):hover ~ #option-bg {
  top: 520px;
}
.option:hover ~ #option-bg {
  background-color: var(--primary-blue_3);
}
/*-----------------------------------------------------------------------------*/
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-gray);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue_2);
}
