@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');
* {
  font-family: 'Noto Sans', sans-serif;
}
h1 {
  color: red;
}
button:focus {
  outline: none !important;
}
.navbar {
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  // box-shadow: var(--primary-blue_3) 0px 3px 6px, var(--primary-blue_3) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  background-color: var(--primary-blue_3);
}
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  .header-nav_logo {
    width: 267px;
  }
  .header-nav_left {
    display: flex;
    justify-content: center;
    .category {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .category-item {
        width: 100px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 10px;
        cursor: pointer;
        padding: 0 20px;
        // border-bottom: 3px solid transparent;
        .category-item_icon {
          width: 25px;
          fill: white;
        }
      }
    }
  }
  .header-logo {
    width: 60px;
    height: 55px;
    cursor: pointer;
    // background-color: #fff;
    border-radius: 5px;
  }
  .header-nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.category-item:hover {
  // border-bottom: 3px solid var(--primary-blue_2) !important;
  background-color: #fff;
  border-radius: 6px;
  transition: all ease-in-out 0.2s;
  .category-item_icon {
    fill: var(--primary-blue_3) !important;
  }
  .title_tooltip {
    display: inline;
  }
}
.btn-defaultt {
  margin-left: 10px;
  border-radius: 20px;
  border: transparent solid;
  padding: 8px 24px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.btn-defaultt:hover {
  background-color: var(--primary-blue_3);
  // background-color: #5fa1e3;
  color: #fff;
  border: #fff solid;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  transition: all 0.3s ease-in-out;
}
.btn-none {
  color: black;
  border: none;
  background-color: transparent;
  padding: 10px 10px;
  cursor: pointer;
}
.active {
  border-radius: 6px;
  background-color: white !important;
  .category-item_icon {
    fill: var(--primary-blue_3) !important;
  }
}
/*----------------*/
.title_tooltip {
  display: none;
  // position: absolute;
  // top: 70px;
  width: 120px;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.title_tooltip::after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
@media (min-width: 1024px) {
  .header-nav {
    max-width: 80%;
  }
}
