@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');
* {
  font-family: 'Noto Sans', sans-serif;
}
h1 {
  color: red;
}
button:focus {
  outline: none !important;
}
.navbar-vrum {
  max-width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 0;
  width: 100%;
  max-height: 60px;
  display: flex;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  // padding: 5px 15px;
  z-index: 999;
  .header-nav_logo {
    width: 167px;
  }
  .header-nav_left {
    display: flex;
    justify-content: center;
    .category {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .category-item {
        width: 100px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 10px;
        cursor: pointer;
        padding: 0 20px;
        // border-bottom: 3px solid transparent;
        .category-item_icon {
          width: 25px;
        }
      }
    }
  }
  .category-item-user {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-logo {
    width: 60px;
    height: 55px;
    cursor: pointer;
    // background-color: #fff;
    border-radius: 5px;
  }
  .header-nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.category-item:hover {
  // border-bottom: 3px solid var(--primary-blue_2) !important;
  border-radius: 6px;
  transition: all ease-in-out 0.5s;
  .category-item_icon {
  }
  .title_tooltip {
    display: inline;
  }
}

.active {
  border-radius: 6px;
  background-color: var(--primary-blue_3);
  .category-item_icon {
    fill: var(--white);
  }
}
.name-user {
  width: 230px;
  background-color: var(--white);
  height: 60px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;
  span {
    margin-right: 5px;
  }
  svg {
    height: 22px;
    width: 20px;
  }
}
.picture-user {
  margin-right: 10px;
  img {
    width: 50px;
    height: 40px;
  }
}
.title_tooltip {
  display: none;
  // position: absolute;
  // top: 70px;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  top: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.title_tooltip-user {
  position: relative;
  display: inline;
  width: 220px;
  text-align: center;
  // right: 130px;
  border-radius: 0 0 5px 5px;
  // padding: 10px 0;
  position: absolute;
  z-index: 1;
  top: -60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  z-index: -999;
  transition: 0.3s;
  .item-action {
    width: 100px;
    // display: flex;
    padding: 10px 20px;
  }
  .tooltip-user--item {
    cursor: pointer;
    padding: 10px 0;
    span {
      display: inline-block;
      width: 25px;
      height: 25px;
      align-items: center;
      border-radius: 50%;
      background-color: aqua;
    }
    #toolTip_notification {
      visibility: hidden;
      z-index: 2;
      width: 430px;
      border-radius: 5px;
      position: absolute;
      top: 90px;
      left: 0px;
      transition: all ease-in-out 0.3s;
    }
    .tooltip-user--item {
      cursor: initial;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .btn_follow {
        // border: 1px solid black;
        padding: 5px 10px;
        border-radius: 5px;
        color: var(--white);
        background-color: var(--primary-blue_3);
      }
      &:hover {
        .btn_follow {
          color: var(--primary-blue_3);
          background-color: var(--white);
        }
      }
    }
    svg {
      width: 25px;
    }
  }
  .tooltip-user--item:hover {
    background-color: var(--primary-blue_3);
    border-radius: 5px;
  }
}
#label_notifi {
  &:hover {
    #toolTip_notification {
      visibility: visible;
    }
  }
}
.picture-user {
  img {
    width: 40px;
    border-radius: 50%;
  }
}
.name-user {
  cursor: pointer;
}
.showToolTip {
  // display: inline;
}
.caret-hidden {
  display: none;
}
.top-0 {
  top: 100px;
}
.top-70 {
  top: -100px;
}
// .title_tooltip::after {
/*----------------*/
//   content: '';
//   position: absolute;
//   bottom: 100%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 7px;
//   border-style: solid;
//   border-color: transparent transparent #fff transparent;

// }
@media (min-width: 1024px) {
  .header-nav {
    max-width: 80%;
  }
}
