@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;500;700&display=swap');
* {
  font-family: 'Noto Sans', sans-serif;
}
h1 {
  color: red;
}
button:focus {
  outline: none !important;
}
.navbar {
  max-width: 1912px;
  position: fixed;
  z-index: 999;
  padding: 0;
  width: 100%;
  max-height: 70px;
  display: flex;
  justify-content: center;
  // box-shadow: var(--primary-blue_3) 0px 3px 6px, var(--primary-blue_3) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  .header-nav_logo {
    width: 267px;
  }
  .header-nav_left {
    display: flex;
    justify-content: center;
    .category {
      margin-left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .category-item {
        width: 100px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0px 10px;
        cursor: pointer;
        padding: 0 20px;
        // border-bottom: 3px solid transparent;
        .category-item_icon {
          width: 25px;
        }
      }
    }
  }
  .header-logo {
    width: 60px;
    height: 55px;
    cursor: pointer;
    // background-color: #fff;
    border-radius: 5px;
  }
  .header-nav_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.category-item:hover {
  // border-bottom: 3px solid var(--primary-blue_2) !important;
  border-radius: 6px;
  transition: all ease-in-out 0.2s;
  .category-item_icon {
  }
  .title_tooltip {
    display: inline;
  }
}

.active {
  border-radius: 6px;
  background-color: var(--primary-blue_3);
  .category-item_icon {
    fill: var(--white);
  }
}
/*----------------*/
.title_tooltip {
  display: none;
  // position: absolute;
  // top: 70px;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  padding: 10px 0;
  position: absolute;
  z-index: 1;
  top: 70px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
// .title_tooltip::after {
//   content: '';
//   position: absolute;
//   bottom: 100%;
//   left: 50%;
//   margin-left: -5px;
//   border-width: 7px;
//   border-style: solid;
//   border-color: transparent transparent #fff transparent;

// }
@media (min-width: 1024px) {
  .header-nav {
    max-width: 80%;
  }
}
