.card-manga {
  width: 100%;
  max-height: 229px;
  min-height: 229px;
  display: flex;
  border: 1px solid var(--gray);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  cursor: pointer;
  border-radius: 5px;
  .card-left {
    display: flex;
    justify-content: center;
    img {
      width: 150px;
      border-radius: 5px 0px 0px 5px;
    }
  }
  .card-right {
    max-width: 180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .card-title-manga {
      min-height: 135px;
      max-height: 135px;
      padding-top: 3px;
      display: -webkit-box;
      -webkit-line-clamp: 6;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 16px;
      font-weight: 600;
    }
  }
}
.card-numchap {
  span {
    font-weight: 600;
  }
}
.card-manga:hover {
  scale: 1.1;
}
.card-manga + .card-manga {
  margin-left: 20px;
}
.card-info {
  font-size: 15px;
}
