.wrapper-list {
  width: 100%;
  margin: 0px auto 100px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}
.list-new-box {
  width: 80%;
  padding: 0 20px;
  h3 {
    margin: 15px 0;
    text-align: left;
  }
  .list-new {
    width: 100%;
    padding: 10px 6px;
    display: flex;
    overflow-x: scroll;
  }
}
.list-all-box {
  width: 80%;
  padding: 0 20px;
  h3 {
    margin: 20px 0;
    text-align: left;
  }
  .list-all {
    padding: 10px 7px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    .card + .card {
      margin: 0;
    }
  }
}
/*--------------------------------------------------------------*/
::-webkit-scrollbar {
  height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--gray);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary-blue_2);
}
